<div class="newUser">
  <div id="userTitle">
    <h2>Sign up for myGarden</h2>
  </div>
  <div id="userForm">
    <form method="POST" action="/auth/signup">
        <div class="userInput">
          <label for="firstname">First Name</label>
          <input id="firstname" type="text" class="validate" name="firstname" value="<%= data.firstname %>">
        </div>
        <div class="userInput">
          <label for="lastname">Last Name</label>
          <input id="lastname" type="text" class="validate" name="lastname" value="<%= data.lastname %>">
        </div>
        <div class="userInput">
          <label for="email">Email</label>
          <input id="email" type="email" class="validate" name="email" value="<%= data.email %>">
        </div>
        <div class="userInput">
          <label for="photoUrl">Profile Pic</label>
          <input id="photoUrl" type="url" class="validate" name="photoUrl" value="<%= data.photoUrl %>">
        </div>
        <div class="userInput">
          <label for="password">Password</label>
          <input id="password" type="password" class="validate" name="password">
        </div>
        <div class="userInput">
          <label for="password_verify">Password Verify</label>
          <input id="password_verify" type="password" class="validate" name="password_verify">
        </div>
        <div class="submitBtn">
          <button class="addNewUser" type="submit">Sign Up</button>
        </div>
    </form>
  </div>
</div>

<!-- <script>
  document.addEventListener('DOMContentLoaded', function() {
    let elems = document.querySelectorAll('.datepicker')
    let startDate = new Date()
    startDate.setFullYear(startDate.getFullYear() - 30)

    let instances = M.Datepicker.init(elems, {
      autoClose: true,
      defaultDate: startDate,
      minYear: startDate.getFullYear() - 70,
      maxYear: (new Date()).getFullYear()
    })
  })
</script> -->
