<div id="alert"></div>

<script>
  let errors = '<%- alerts.error %>'
  let successes = '<%- alerts.success %>'


document.addEventListener('DOMContentLoaded', function() {
  const alertStatus = document.getElementById("alert")
    if (errors) {
      console.log(errors)
      alertStatus.innerHTML = errors
      alertStatus.style.display = 'block'
      setTimeout(() => {
        alertStatus.style.display = 'none'
      }, 5000)
    }

    if (successes) {
      console.log(successes)
      alertStatus.innerHTML = successes
      alertStatus.style.display = 'block'
      setTimeout(() => {
        alertStatus.style.display = 'none'
      }, 5000)
    }
  })
</script>

