<div id="nav">
  <div class="navWrapper">
  <div class="nav"><a href="/">HOME</a></div>
  <div class="nav"><a href="/plants">PLANTS</a></div>
  <div class="nav"><a href="/gardens">GARDENS</a></div>
  <% if (!user) { %>
    <div class="nav"><a href="/auth/login">LOGIN</a></div>
    <div class="nav"><a href="/auth/signup">SIGN UP</a></div>
    <% } else { %>
      <div class="nav"><a href="/profile">MY PROFILE</a></div>
      <% if (user.admin) { %>
      <div class="nav"><a href="/profile/admin">ADMIN</a></div>
      <% } %>
      <div class="nav"><a href="/auth/logout">LOGOUT</a></div>
    <% } %>

</div>
  <div id="footer">
    <h5>Created by Rebecca Evans; Copyright © 2019-<%= new Date().getFullYear() %></h5></div>
</div>
