<div class="container">
	<div>
		<h1>Welcome to myGarden!</h1>
		<hr>
	</div>
	<div id="homePage">
		<img src="https://thumbs-prod.si-cdn.com/gBlfvWEC9NMf2sk6n8LlxPggLQE=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/c2/35/c235a6aa-8985-40e6-ad19-0e46269867c5/biddulph-grange-4.jpg" alt="gardens">
	</div>
</div>
