<div class="newGarden">
	<form method="POST" action="/gardens/new">
		<h2>Create a Garden:</h2>
		<div class="userGarden">
			<label for="Name">Garden Name:</label>
			<input type="text" id="Name" name="name">
		</div>
		<div class="userGarden">
			<label for="Location">Location</label>
			<input type="text" id="Location" name="location">
		</div>
		<div class="userGarden">
			<label for="Aspect">Aspect</label>
			<input type="text" id="Aspect" name="aspect">
		</div>
		<div class="userGarden">
			<label for="Exposure">Exposure</label>
			<input type="text" id="Exposure" name="exposure">
		</div>
		<div class="userGarden">
			<label for="soilType">Soil Type</label>
			<input type="text" id="SoilType" name="soilType">
		</div>
		<div class="userGarden">
			<label for="Moisture">Moisture Level</label>
			<input type="text" id="Moisture" name="moisture">
		</div>
		<input type="hidden" id="userId" name="userId" value="<%= user.id %>">
		<div class="submitBtn">
			<button class="addGarden" type="submit">Add Garden</button>
		  </div>
	</form>
</div>

